# Xcode and Mac OS
xcuserdata
.DS_Store

# Eclipse
target
bin
build
.metadata
.settings
.classpath
.project

# Log and Data
*.log
currency.csv
exchange-stats.properties

user.key
domain.key
domain.csr
domain.crt
challenge.properties

